<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rooms with a lamp</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
</head>
<body>
<div>
    <div id='app'></div>
</div>

<script>
    var stompClient = null

    function connect() {
        const socket = new SockJS('/gs-guide-websocket')
        stompClient = Stomp.over(socket)
        stompClient.connect({}, frame => {
            console.log('Connected: ' + frame)
            stompClient.subscribe('/topic/activity', room => {
                console.log("FFFFFF: "+ room.body)
                // handlers.forEach(handler => handler(JSON.parse(room.body)))

            })
        })
    }

    function disconnect() {
        if (stompClient !== null) {
            stompClient.disconnect()
        }
        console.log("Disconnected")
    }

    function sendRoom(room) {
        stompClient.send("/app/changeLight", {}, JSON.stringify(room))
    }

    var RoomsApi = Vue.resource('/room{/id}');
    connect()
    Vue.component('room-row', {
        props: ['room'],
        data: function() {
            return {
                id: '',
            }
        },
        template:
            '<div>' +
            '<div v-if="id === room.id">' +
            'Комнта №{{room.id}}:' +
            'Лампочка {{room.activeLamp}}' +
            '<input type="button" value="On/Off" @click="edit"/>' +
            '</div>' +
            '<div v-else>' +
            'Комнта №{{room.id}}:' +
            '<input type="button" value="Войти в комнату" @click="id = room.id"/>' +
            '</div>' +
            '</div>',
        methods: {
            edit: function () {
                var room = {activeLamp: true}
                sendRoom({id: this.id}, room)
                // RoomsApi.update({id: this.id}, room)
            }
        }
    });

    Vue.component('rooms-list', {
        data: function() {
            return {
                rooms: [],
            }
        },
        created: function () {
            RoomsApi.get().then(result =>
                result.json().then(data =>
                    data.forEach(room => this.rooms.push(room))))
        },
        template:
            '<div><room-row v-for="room in rooms" :key="room.id" :room="room" /></div>'
    });

    new Vue({
        el: '#app',
        template: '<rooms-list/>',
    });
</script>
</body>
</html>